<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aplicación</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h2>Hola, hablo desde layout!</h2>
    <%= yield %>
  </body>

</html>
